<div class="mat-elevation-z8">
  <mat-card class="example-card">     
   <mat-card-header>
     <mat-card-title>Edit User</mat-card-title>
   </mat-card-header>
   <mat-card-content>
	    
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  
    <!-- <div class="form-group">
      <label for="userName">User Name:</label>
      <input formControlName="userName" placeholder="User Name" name="userName" class="form-control" id="userName">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
    </div>

    <button class="btn btn-success">Update</button>
     -->
     <p>
	  <mat-form-field appearance="legacy">
	 
	    <mat-label>User name</mat-label>
	    <input matInput placeholder="Placeholder" type="userName"   formControlName="userName" id="userName">
	    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
	    <mat-hint>Type your user name</mat-hint>
	    <mat-error *ngIf="invalidLogin">
	      <div>Invalid credentials.</div>
	    </mat-error>
	  </mat-form-field>
	  </p>
	 <p>
	  <mat-form-field appearance="legacy">
	    <mat-label>Password</mat-label>
	    <input matInput placeholder="Placeholder" type="password" formControlName="password" id="password">
	    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
	    <mat-hint>Type your password</mat-hint>
	    <mat-error *ngIf="submitted && loginForm.controls.password.errors">
	      <div *ngIf="loginForm.controls.userName.errors.required">userName is required</div>
	    </mat-error>
	  </mat-form-field>
	</p>     
       
      <button mat-raised-button type="button" color="primary" (click)="onSubmit()" >Update</button>
      
  </form>
  </mat-card-content>  
 </mat-card>
</div> 

