 <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>Add user</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     
       <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="example-form">
       <table class="example-full-width" >
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Username" formControlName="userName" id="userName" required>          
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Password" formControlName="password" type="password" name="password" id="pwd" required>           
         </mat-form-field></td>
       </tr></table>
       
   <mat-card-actions>
      
      <button mat-raised-button (click)="onSubmit()" type="button" color="primary">Add User</button>
   </mat-card-actions>  
    
     <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    
     </form>
    
   </mat-card-content>
   
 </mat-card>
 
 