   <div class="mat-elevation-z8">
 
 <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>User Details</mat-card-title>
   </mat-card-header>   
   <mat-card-content>
      <button class="btn btn-danger" (click)="addUser()"> Add User</button>
    </mat-card-content>
  </mat-card>


   <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>List user</mat-card-title>
   </mat-card-header>
   <mat-card-content>
    
     <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>User Name</th>
      <th>password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden"></td>
      <td>{{user.userName}}</td>
      <td>{{user.password}}</td>
      <td></td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>

   </mat-card-content>  
 </mat-card>
    