<div class="row">

  <div class="col-md-6 col-md-offset-2">
   
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <p>
	  <mat-form-field appearance="legacy">
	 
	    <mat-label>User name</mat-label>
	    <input matInput placeholder="Placeholder">
	    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
	    <mat-hint>Type your user name</mat-hint>
	    <mat-error *ngIf="invalidLogin">
	      <div>Invalid credentials.</div>
	    </mat-error>
	  </mat-form-field>
	  </p>
	 <p>
	  <mat-form-field appearance="legacy">
	    <mat-label>Password</mat-label>
	    <input matInput placeholder="Placeholder">
	    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
	    <mat-hint>Type your password</mat-hint>
	    <mat-error *ngIf="submitted && loginForm.controls.password.errors">
	      <div *ngIf="loginForm.controls.userName.errors.required">userName is required</div>
	    </mat-error>
	  </mat-form-field>
	</p>
    
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="userName" class="form-control" formControlName="userName" id="userName">
        <div *ngIf="submitted && loginForm.controls.userName.errors" class="error">
          <div *ngIf="loginForm.controls.userName.errors.required">userName is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
          <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
        </div>
      </div>
      <mat-card-actions>
    <button class="btn btn-default">Login</button>
     
  </mat-card-actions>
      
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
   
     </form>
  </div>
</div>






 